form style
.main-container{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.form-container{
    width: 480px;
    padding: 50px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}


h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    color: #666;
    font-weight: 700;
}
